__pycache__
*.pyc
*.png
./paper2026/**
utils/gradModels/**
*.db
tmp/**
paper2026/**
images/**
caloutputs/**
datasets/**
paperData/**
*.xlsx
*.xlsx#
*.pth
*.eps
.codex
logs
optuna_ball_trials
optuna_ball_trials_whole
